body {
  background-color: pink;
  border-style: solid;
  display: inline-block;
  text-align: center;
  font-family: didot;
  padding: 0px;
  background-image: url(http://i.imgur.com/LditCZA.jpg);
}

h1 {
  border-st
  padding-left: 5px;
  padding-right: 5px;yle: dotted;
  border-width: 5px;
  font-size: 50px;
}

h3 {
  font-size: 35px;
}

ul {
 list-style: none;
 font-size: 30px;
 border: 5px dotted lavender;
 background-color: pink;
}

p {
  font-size:28px;
  border: 5px dotted lavender;
  background-color: pink;
  padding-left: 10px;
  padding-right: 10px;
}

img {
  border: 5px dotted lavender;
}
